@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcd6f47e;
  --foreground: #d331b0;
  --buttontext:#fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1.2rem;
}
h5{
  font-size: 1rem;
}
h6{
  font-size: 0.8rem;
}
  button{
    padding: 0.5rem 1rem;
    border: none;
    background: var(--foreground);
    color: var(--buttontext);
    cursor: pointer;
    border-radius: 15rem;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
button:hover{
  background: #a90285;
  transform: scale(1.1);
}
body {
  color: var(--foreground);
  background-image: url('https://i.pinimg.com/736x/35/65/de/3565de50924f5fd3b01a792781aa113c.jpg');
  /* background: var(--background); */
font-family: var(--font-pridi);

}
h1,h2,h2,h4,h5,h6{
  font-family: var(--font-lobster);
}
::selection{
  background-color: #d331b05c;
}
.card {
  background: rgb(252,214,244);
  background:linear-gradient(180deg, rgb(238 180 192) 0%, rgba(240, 240, 240, 1) 100%);
  box-shadow: 0 0 10px 1px rgb(224 25 215 / 40%);
  max-height: 400px;
  overflow-y: hidden;
  position: relative;
  padding-bottom: 40px; /* Space for the button */
  transition: max-height 0.3s ease;
}
.header{
  background-color: rgb(239 183 194);
}
.card.expanded {
  max-height: none;
}

.addCard > div{
  padding-top:1rem;
  align-items: center;
}




