.mainEditDiv{
    background-image: url('https://i.pinimg.com/736x/6c/8a/3e/6c8a3e22f7030bfa635841302e817b67.jpg');
    /* background-size: cover; */
  }
  
  .mdxeditor-toolbar{
    background-color:rgb(214, 107, 215);
    }
  
  .mdxeditor {
    margin-left:1rem;
    background-color: rgba(243, 187, 233, 0.929);
    border-bottom: 1px solid rgb(248, 241, 242);
    padding:.25rem;
    margin-bottom: .25rem;
    border-radius: .5rem;
    }
      
.delete{
    background-color: red;
}