.mainDiv{
  background-image: url('https://i.pinimg.com/736x/99/89/07/998907335dc3f2f66180a6239565dd9b.jpg');
  /* background-size: cover; */
}

.mdxeditor-toolbar{
  background-color:rgb(214, 107, 215);
  }

.mdxeditor {
  margin-left:1rem;
  background-color: rgba(243, 187, 233, 0.929);
  /* box-shadow: 0 0 10px 1px rgb(224 25 215 / 40%);  */
  border-bottom: 1px solid rgb(248, 241, 242);
  padding:.25rem;
  border-radius: .5rem;
  }
    
.addCard{
/* background-image: url('https://i.pinimg.com/originals/49/1e/82/491e8249887be2a4550b47b2a6c7de10.gif'); */
background-color: rgb(252 228 228 / 59%);
  }

